button{
    background-color: #D3A297;
    height: 42px;
    width: 255px;
    align-self: center;
    margin: 5px;
    font-family: 'BigSpace', sans-serif;
    font-size: 27.5px;
}

input{
    margin: 5px;
    font-size: 42px;
    background-color: floralwhite;
    border-color: #B2AC88;
    text-align: center;
}

body{
    text-align: center;
    background-image: url("pic/background.jpg");
    background-position: center;
    background-size: cover;
}

h2{
    font-family: 'BigSpace', sans-serif;
    font-size: 42px;
    margin: 20px;
}

p{
    font-family: 'BigSpace', sans-serif;
    font-size: 27.5px;
    margin: 5px auto;
}

@font-face {
    src: url('font/BigSpace-rPKx.ttf'), format('truetype');
    font-family: 'BigSpace';
}