button{
    background-color: lightpink;
    height: 25px;
    width: 135px;
    align-self: center;
    margin: 5px;
}

input{
    margin: 5px;
    background-color: aliceblue;
    border-color: lightsteelblue;
}

body{
    text-align: center;
    background-image: url("pic/background.jpg");
    background-position: center;
    font-family: 'BigSpace', sans-serif;
}

@font-face {
    src: url('font/BigSpace-rPKx.ttf'), format('truetype');
    font-family: 'BigSpace';
}